<div id="container">
  <h1>oioioioi</h1>
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
  <a href="/secret">Protected page (requires authentication!)</a>
  <a href="/logout">Logout</a>
</div>